# OOPS

In [1]:
# class

item = 'Potato'
price = 40.0
quantity = 2

In [3]:
x = str('hello')
x

'hello'

In [4]:
x.upper()

'HELLO'

In [8]:
print('cost : ', price*quantity)

cost :  80.0

In [2]:
print(type(item))
print(type(price))
print(type(quantity))

<class 'str'>
<class 'float'>
<class 'int'>

In [12]:
def get_total_cost():
        price = 40.0
        quantity = 2
        print('cost : ', price*quantity)

In [13]:
get_total_cost()

cost :  80.0

In [18]:
class Store:
    
    name = 'XYZ Store'
    catalog = []
    
    def __init__(self, balance) :
        self.store_balance = balance
        self.cart = []
        

    def get_total_cost(self):
        price = 40.0
        quantity = 2
        print('cost : ', price*quantity)

In [20]:
my_store = Store(400)
# instance of Store Class
my_store.name

'XYZ Store'

In [17]:
#instance variable
#class variable

#instance variable

my_store.store_balance

400

In [10]:
my_store.store_balance

5000

In [21]:
my_second_store = Store(11)

my_second_store.name

'XYZ Store'

In [24]:
my_second_store.name

'ABC Store'

In [23]:
Store.name = 'ABC Store'

In [ ]:
#class variable

In [39]:
OnlineStore.__dict__

mappingproxy({'__module__': '__main__',
              'store_name': 'XYZ Store',
              'catalog': [],
              '__init__': <function __main__.OnlineStore.__init__(self, c_name)>,
              'print_all_cart_items': <function __main__.OnlineStore.print_all_cart_items(self)>,
              '__dict__': <attribute '__dict__' of 'OnlineStore' objects>,
              '__weakref__': <attribute '__weakref__' of 'OnlineStore' objects>,
              '__doc__': None})

In [40]:
first_customer = OnlineStore('Tanweer')

In [41]:
first_customer.cart.append('Iphone')
first_customer.cart.append('Macbook')

In [42]:
first_customer.print_all_cart_items()

Iphone
Macbook

In [43]:
second_customer = OnlineStore('Karan')

In [44]:
second_customer.print_all_cart_items()

In [45]:
first_customer.print_all_cart_items()

Iphone
Macbook

In [47]:
second_customer.store_name

'XYZ Store'

In [53]:
OnlineStore.store_name

'XYZ Store'

In [51]:
new_customer = OnlineStore('madhvi', 'qwertz')

In [52]:
new_customer.store_name

'qwertz'

Define the Rocket() class.
Define the __init__() method, which sets an x and a y value for each Rocket object.
Define the move_up() method.
Create a Rocket object.
Print the object.
Print the object's y-value.
Move the rocket up, and print its y-value again.
Create a fleet of rockets, and prove that they are indeed separate Rocket objects.

In [54]:
my_second_store

In [55]:
my_store

In [61]:
# Class method, Static Method

OnlineStore.store_time()

my_store_new = OnlineStore('a', 'b')

<built-in function time>

In [62]:
my_store_new.store_time()

TypeError: OnlineStore.store_time() takes 0 positional arguments but 1 was given

In [1]:
import time
class OnlineStore:
    
    store_name = 'XYZ Store'
    catalog = []
    
    def __init__(self, c_name, store_name) :
        self.customer_name = c_name
        self.cart = []
        self.store_name = store_name


    @staticmethod
    def store_time():
        print(time.time)

    @classmethod
    def change_store_name(cls, new_name):
        cls.store_name = new_name
        print('Store name changed succefully', cls.store_name)
    
    def change_store_name_2(self, new_name):
        self.store_name = new_name
        print('Store name changed succefully', self.store_name)

    def print_all_cart_items(self):
        for i in self.cart:
            print(i)

    def some_method():
        print('Hello World')

In [4]:
my_store = OnlineStore('hi', 122)

In [66]:
# Class method,

OnlineStore.change_store_name('New Store')

Store name changed succefully New Store

In [5]:
# Fibonacci Series

# 1 ,1 ,2 ,3,5,8-.....

# Using object oriented implement 

# Fibonnaci, __init__, sum_of_last_two , print_febonaci(till_nth_term)

In [30]:
# Inheritance

class Person:
    Planet = 'earth'

    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def introduce_yourself(self):
        print(f'Hi, This is {self.name}')
    
    def print_age(self):
        print(f'I am {self.age} years old')


class Student(Person):
    
    def __init__(self, name,roll_number, student_class , age):
         
         super().__init__(name, age)
         
         self.roll_number = roll_number
         
         self.student_class = student_class
    
    def print_roll_number(self):
        print('Running')
        print(f'Roll Number : {self.roll_number}')

    def print_class(self):
        print(f'Class : {self.student_class}')

class Boy_student(Student):
    gender = 'male'

    def __init__(self):
        pass

In [31]:
x = Boy_student()

In [32]:
x.print_roll_number()

Running

AttributeError: 'Boy_student' object has no attribute 'roll_number'

In [25]:
new_student = Student('Era', 30, 12, 24)

In [26]:
new_student.Planet

'earth'

In [23]:
new_student.introduce_yourself()

Hi, This is Era

In [17]:
new_student.print_age()

I am 24 years old

In [48]:
class Parent1 :
    def __init__(self):
        print('First')
class Parent2 :
    def __init__(self):
        
        print('Second')
class Parent3 :
    def __init__(self):
        print('Third')
class Parent4 :
    def __init__(self):
        print('Fourth')

class Child(Parent3, Parent1,Parent2, Parent4) :
    def __init__(self,name, age, address):
        
        super(Parent1,self).__init__()
        super(Parent2,self).__init__()
        super().__init__()
        self.address = address


child1 = Child('tanweer', 22, 'Berlin')

Second
Fourth
Third

Third
Second
First