# String

In [6]:
my_string = 'This is my string!'

In [7]:
my_string

'This is my string!'

In [8]:
type(my_string)

str

In [9]:
len(my_string)

18

In [12]:
long_line = (
    "first string"

    
    "second string"
    "third string"
)

In [13]:
long_line

'first stringsecond stringthird string'

In [14]:
multple_line = '''
hi 
heloo

you

gd
'''

In [15]:
multple_line

'\nhi \nheloo\n\nyou\n\ngd\n'

# str.replace()

In [16]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [17]:
my_string = 'This is my string!'

In [20]:
your_string = my_string.replace('my','your')

In [22]:
my_string

'This is my string!'

In [23]:
your_string

'This is your string!'

# f string

In [25]:
name = 'Karan'
uni = 'BTU'

print(name + ' study in ' + uni)

Karan study in BTU

In [26]:
print(f'{name} study in {uni}')

Karan study in BTU

In [27]:
help(str.join)

Help on method_descriptor:

join(self, iterable, /)
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [28]:
m_list = ['hi', 'Hello']

In [32]:
''.join(m_list)

'hiHello'

In [34]:
help(str.upper)

Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.

In [35]:
help(str.lower)

Help on method_descriptor:

lower(self, /)
    Return a copy of the string converted to lowercase.

In [36]:
help(str.title)

Help on method_descriptor:

title(self, /)
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

In [37]:
help(str.strip)

Help on method_descriptor:

strip(self, chars=None, /)
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

In [50]:
ugly_formatted = " \n \t Some story to ltell        "
stripped = ugly_formatted.strip()

print(f"ugly: {ugly_formatted}")
print(f"stripped: {stripped}")

ugly:
 	 Some story to ltell
stripped: Some story to ltell

In [51]:
ugly_formatted.strip(' \t \n l')

'Some story to lte'

In [52]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [54]:
stripped.split('story')

['Some ', ' to ltell']

In [55]:
ugly_mixed_case = "   ThIS LooKs BAd "
pretty = ugly_mixed_case.strip().lower().replace("bad", "good")
print(pretty)

this looks good

In [56]:
pretty = ugly_mixed_case.replace("bad", "good").strip().lower()
print(pretty)

this looks bad

In [57]:
two_lines = "First line\nSecond line"
print(two_lines)

First line
Second line

In [58]:
indented = "\tThis will be indented"
print(indented)

	This will be indented