In [1]:
# ()

numbers = (1, 2, -5)
print(numbers)

# Output: (1, 2, -5)

(1, 2, -5)

In [2]:
languages = ('Python', 'Swift', 'C++')

# access the first item
print(languages[0])   # Python

# access the third item
print(languages[2])   # C++

Python
C++

In [3]:
for i in languages:
    print(i)

Python
Swift
C++

In [4]:
# Tuple are ordered DataType
# Tuple are immutable

In [6]:
languages = list(languages)
languages.append('java')
languages = tuple(languages)

In [7]:
languages

('Python', 'Swift', 'C++', 'java')

In [8]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [9]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [12]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [14]:
mytuple.count('banan')

0

In [15]:
help(tuple.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [21]:
mytuple.index('banana')

1